<section id="signin">
    <section class="signin-container">
        <section class="header">Sign in to your account</section>
        <section class="body">
            <section class="form">
                <article class="input"><i class="icon-envelope"></i><input name="mail" placeholder="email" type="text"></article>
                <article class="input"><i class="icon-lock"></i><input name="password" placeholder="password" type="password"></article>
                <article class="button submit">SIGN IN</article>
                <article class="caption">Forgot your password?</article>
            </section>
        </section>
        <section class="footer">register</section>
    </section>
</section>
<!-- profil d'utilisateur -->
<section id="account-card">
    <section class="account-container">
        <section class="header"></section>
        <section class="body">
            <section class="profile">
                <article class="photo">
                    <article class="frame"></article>
                </article>
                <article class="information">
                    <article class="lastname">Morgane</article>
                    <article class="firstname">Clara</article>
                </article>
            </section>
            <section class="options">
                <article class="option"><i class="margin-icon icon-user"></i><span>profile</span></article>
                <article class="option"><i class="margin-icon icon-envelope"></i><span>messages</span></article>
                <article class="option"><i class="margin-icon icon-cog"></i><span>settings</span></article>
            </section>
        </section>
        <section class="footer">
            <i class="margin-icon icon-switch"></i><span>Logout</span>
        </section>
    </section>
</section>
<!-- utilisation de waiter -->
<waiter auto debug frame="1" square speed="80"></waiter>