.filemanager {
    height: 100%;
    margin-top: 20px;
    font-size: 1.15em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
**** MENU ****
**/

.menu {
    padding: 15px;
}
.menu-item {
    display: inline-block;
    float: left;
}
.menu-refresh {
    float: right;
}

.order {
    display: inline-block;
}
.orderAsc, .orderDesc {
    width: 0px;
    height: 0px;
    border-style: solid;
}
.orderAsc {
    border-width: 0 7.5px 13.0px 7.5px;
    border-color: transparent transparent #d5d5d6 transparent;
}
.orderDesc {
    margin-bottom: -2px;
    border-width: 13.0px 7.5px 0 7.5px;
    border-color: #d5d5d6 transparent transparent transparent;
}

/**
**** LABELS ****
**/
.labels {
    color: #d5d5d6;
    margin-bottom: 10px;
    min-width: 540px;
    clear: both;
}
.labels-filename-column, .labels-kind-column, .labels-modified-column {
    display: inline-block;
    margin-top: 17px;
    margin-bottom: 17px;
}
.labels-filename, .labels-modified {
    margin-left: 7px;
}
.labels-filename-label, .labels-kind-label, .labels-modified-label {
    padding-right: 8px;
}

/**
**** FILES ****
**/

.list-files-container {
    height: 100%;
}

.list-files {
    clear: both;
}

.container-fluid {
    padding: 0;
}

.file-repeat {
    padding-left: 15px;
    padding-right: 15px;
}

.file-repeat:nth-child(odd) {
    background-color: #32364e;
}

.file-repeat:nth-child(even) {
    background-color: #2b2937;
}

.fileSelected {
    background-color: #0F1327;
}

.file {
    color: #8b8fa4;
    min-width: 540px;
    max-height: 79px;
    line-height: 55px;
    padding: 10px 4px;
    border-width: 1px 0;
    margin-bottom: -1px;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file:hover, .file:hover a {
    color: #d5d5d6;
}

.filename, .kind, .modified {
    margin-top: 5px;
}

.filename {
    display: inline-block;
    max-height: 57px;
}

.edit-item {
    line-height: 33px;
    width: 80%;
    background-color: #0F1327;
}

.icon-filemanager {
    font-size: 3em;
    height: 100%;
    float: left;
}

.filename-link {
    font-size: 1.2em;
    white-space: pre;
}

.filename-link:link, .filename-link:active, .filename-link:visited, .filename-link:hover {
    color: #8b8fa4;
}
.filename-link:link, .filename-link:active, .filename-link:visited {
    text-decoration: none;
}
.filename-link:hover {
    text-decoration: underline;
}

.kind {
    display: inline-block;
    position: absolute;
}

.modified {
    display: inline-block;
    min-width: 177px;
    position: absolute;
    right: 0;
}
.modified-time {
    min-width: 177px;
}