section[data-waiter] {
	width: 140px;
	display: inline-block;
	height: 140px;
	border: 5px solid #13151D;
	border-radius: 70px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	background-color: #11121B;
	box-shadow: 0px 0px 3px black;
}
.animation {
    margin: auto;
    display: block;
}
.percent {
    font-size: 13px;
    color: white;
    text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
.loadingValue {
    font-size: 43px;  color: rgb(253, 255, 215);  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.6);  font-weight: bold;
    font-family: 'Impact';
    vertical-align: top;
    cursor: default;
}
article[data-glass] {
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	line-height: 180px;
	top: 0px;
	left: 0px;
	border-radius: 70px;
	vertical-align: bottom;
}
section[data-waiter].square, article[data-glass].square{
	border-radius: 0px;
}