<ul class="cbp_tmtimeline">
	<li ng-repeat="event in Timeline.events">
		<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{event.date | date:'yy/MM/dd'}}</span> <span>{{event.date | date:'HH:mm'}}</span></time>
		<div class="cbp_tmicon"><i class="{{event.icon}}"></i></div>
		<div class="cbp_tmlabel">
			{{event.message}}
		</div>
	</li>
</ul>