.locale-container.active {
    margin-top: 28px;
}

.plan {
    position: relative;
    width: 260px;
    margin-top: 45px;
    float: left;
    text-align: center;
    border: 1px solid #dce0e3;
    z-index: 1;
}

.plan-header {
    padding: 45px 30px 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dce0e3;
    font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.plan-header .popular {
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #adb7bd;
    margin-top: 0;
}

.price {
    font-size: 65px;
    font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #479ccf;
    margin-top: 0;
    margin-bottom: 20px;
}

.plan abbr {
    vertical-align: super;
    font-size: 30px;
}

.plan-period {
    font-size: 14px;
}

.plan h2 {
    margin-bottom: 20px;
    font: normal 18px "ProximaNovaRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
}

.plan .button {
    padding: 12px 22px;
    background: #fff;
    color: #479ccf;
    font: normal 16px "ProximaNovaRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    -o-transition: all 0.2s ease-in-out 0.3s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0.3s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0.3s ease-in-out 0s;
    transition: all 0.2s ease-in-out;
}

.plan .button.blue {
    color: #fff;
    background: #479ccf;
    border: none;
}

.plan-features {
    padding: 10px 30px 30px;
    line-height: 27px;
    background-color: white;
}

.plan-professional .plan-features {
    padding-bottom: 75px;
}

ol, ul {
    list-style: none;
}

.plan-feature-header {
    margin: 25px 0 1em;
    font: normal 14px "ProximaNovaSemiBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pricing-tooltip {
    position: relative;
}

.plan-feature-off {
    text-decoration: line-through;
    color: #adb7bd;
}

.plan.plan-basic {
    margin-right: -1px;
}

.plan-professional {
    margin-top: 2px;
}

.plan.plan-unlimited {
    margin-left: -1px;
}