<% layout('./layout/core') %>

<section id="container">

	<aside id="vertical-toolbar" ng-controller="AccoutnNavigationController">
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="AccountNavigation.goto('config');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-user"></span>
				</article>
				<article class="title-option">
					Account
				</article>
			</article>
		</article>
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="AccountNavigation.goto('infos');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-stats"></span>
				</article>
				<article class="title-option">
					INFOS
				</article>
			</article>
		</article>
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="AccountNavigation.goto('timeline');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-timeline"></span>
				</article>
				<article class="title-option">
					TIMELINE
				</article>
			</article>
		</article>
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="AccountNavigation.goto('plans');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-plans"></span>
				</article>
				<article class="title-option">
					PLANS
				</article>
			</article>
		</article>
	</aside>
	<section id="configuration-container" scroll-bar theme="dark">
		<section id="configuration-view" ng-view></section>
	</section>

</section>