<% layout('./layout/core') %>

<section id="container" ng-controller="InformationsController" ng-cloak>
<!--     <article class="chart-container" ng-repeat="chart in Informations.charts track by $index">
        <donutchart size-available="{{chart.availableSize}}" size-text="{{chart.textSize}}" data="{{chart.data}}" title="{{chart.title}}" subtitle="{{chart.subtitle}}"></donutchart>
    </article> -->

	<aside id="vertical-toolbar">
		<article class="option-toolbar">
			<article class="option-toolbar container">
				<article class="icon-option-toolbar">
					<span class="icon-user"></span>
				</article>
				<article class="title-option">
					ACCOUNT
				</article>
			</article>
		</article>
		<article class="option-toolbar">
			<article class="option-toolbar container">
				<article class="icon-option-toolbar">
					<span class="icon-user"></span>
				</article>
				<article class="title-option">
					INFOS
				</article>
			</article>
		</article>
		<article class="option-toolbar">
			<article class="option-toolbar container">
				<article class="icon-option-toolbar">
					<span class="icon-user"></span>
				</article>
				<article class="title-option">
					TIMELINE
				</article>
			</article>
		</article>
		<article class="option-toolbar">
			<article class="option-toolbar container">
				<article class="icon-option-toolbar">
					<span class="icon-user"></span>
				</article>
				<article class="title-option">
					PLANS
				</article>
			</article>
		</article>
	</aside>
	<section id="configuration-container">
		lala
	</section>

</section>