<% layout('./layout/core') %>

<section id="container" ng-controller="InformationsController" ng-cloak>
<!--     <article class="chart-container" ng-repeat="chart in Informations.charts track by $index">
        <donutchart size-available="{{chart.availableSize}}" size-text="{{chart.textSize}}" data="{{chart.data}}" title="{{chart.title}}" subtitle="{{chart.subtitle}}"></donutchart>
    </article> -->

	<aside id="vertical-toolbar" ng-controller="NavigationController">
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="Navigation.goto('config');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-user"></span>
				</article>
				<article class="title-option">
					Account
				</article>
			</article>
		</article>
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="Navigation.goto('infos');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-stats"></span>
				</article>
				<article class="title-option">
					INFOS
				</article>
			</article>
		</article>
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="Navigation.goto('timeline');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-timeline"></span>
				</article>
				<article class="title-option">
					TIMELINE
				</article>
			</article>
		</article>
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="Navigation.goto('plans');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-plans"></span>
				</article>
				<article class="title-option">
					PLANS
				</article>
			</article>
		</article>
	</aside>
	<section id="configuration-container" scroll-bar theme="dark">
		<section id="configuration-view" ng-view></section>
	</section>

</section>