<% layout('./layout/core') %>

<section id="container">

	<aside id="vertical-toolbar" ng-controller="AdministrationController">
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="AdminNavigation.goto('config');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-user"></span>
				</article>
				<article class="title-option">
					USERS
				</article>
			</article>
		</article>
		<article class="option-toolbar google-font big-font">
			<article class="option-toolbar container" ng-click="AdminNavigation.goto('plans');">
				<article class="icon-option-toolbar">
					<span class="img-icon img-icon-plans"></span>
				</article>
				<article class="title-option">
					PLANS
				</article>
			</article>
		</article>
	</aside>
	<section scroll-bar theme="dark">
		<section id="configuration-view" ng-view></section>
	</section>

</section> 