<% layout('./layout/core') %>

<section id="container">

    <section id="container" ng-controller="FileManagerController">
        <section id="toolbar">
            <section class="tb-container">
                <article class="tb-option">
                    <article class="tb-option-container">
                        <article class="tb-icon"><i class="icon-box-add"></i></article>
                        <article class="tb-option-title"><span class="tb-title">DOWNLOAD</span></article>
                    </article>
                </article>
                <article class="tb-option">
                    <article class="tb-option-container">
                        <article class="tb-icon"><i class="icon-box-remove"></i></article>
                        <article class="tb-option-title"><span class="tb-title">UPLOAD</span></article>
                    </article>
                </article>
                <article class="tb-option" ng-click="FileManager.refresh()">
                    <article class="tb-option-container">
                        <article class="tb-icon"><i class="icon-loop"></i></article>
                        <article class="tb-option-title"><span class="tb-title">REFRESH</span></article>
                    </article>
                </article>
            </section>
        </section>
        <section id="manager">
            <section id="manager-container">
                <section class="manager-bloc">
                    <article class="manager-bloc-container">
                        <section id="list-file-container">
                            <article class="list-file">
                                <table class="listing">
                                    <thead>
                                        <tr class="list-header">
                                            <th class="item-label"></th>
                                            <th class="checkbox"><input type="checkbox" name="check-0" id="check-0" class="checkbox-design"><label for="check-0"></label></th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Owner</th>
                                            <th>Last Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="item item-file-manager" item item-id={{index}} file-uploader file-path={{item.path}} file-id=_{{index}}_ ng-repeat="(index, item) in FileManager.items">
                                            <td ng-if="_item.item.category != 'folder'" class="item-label" ng-class="_item.item.category"></td>
                                            <td ng-if="_item.item.category == 'folder'" class="item-folder"><i class="icon-folder"></i></td>
                                            <td class="checkbox"><input type="checkbox" name="check-{{$index+1}}" id="check-{{$index+1}}" class="checkbox-design"><label for="check-{{$index+1}}"></label></td>
                                            <td ng-class="{bold: _item.item.category == 'folder'}" class="limit-text">{{_item.item.name}}{{_fileUploader.progress}}</td>
                                            <td>{{_item.item.category}}</td>
                                            <td>Ju13nt</td>
                                            <td>14/03/12 6h:30</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                        </section>
                    </article>
                </section>
                <section class="manager-bloc">
                    <article class="manager-bloc-container">
                        preview et contenu super cool - affichage de l'icon du type de fichier, listing des uploads en cours ... bref y a pleins de chose a mettre ici :D
                    </article>
                </section>
            </section>
        </section>
    </section>

    <!-- design entierement a revoir.. je compte sur toi ju :p -->
    <!-- <section id="file-manager" ng-controller="FileManagerController">
        <article item item-id={{index}} file-uploader file-path={{item.path}} file-id=_{{index}}_ class="item-file-manager" ng-repeat="(index, item) in FileManager.items">
            <article class="filename col-xs-8 col-sm-6 col-md-6 col-lg-8">
                <span class="icon-filemanager margin-icon" ng-class="_item.item.icon"></span>
                <span class="filename-link">{{_item.item.name}}</span>
                {{_fileUploader.progress}}
            </article>
            <article class="kind hidden-xs col-sm-3 col-md-3 col-lg-2">
                <span class="category">{{_item.item.category}}</span>
            </article>
            <article class="modified col-xs-4 col-sm-3 col-md-3 col-lg-2">
                <span class="modified-time">14/03/1992</span>
            </article>
        </article>
    </section> -->
</section>
