<% layout('./layout/core') %>

<section id="container">

    <section id="container" ng-controller="FileManagerController">
        <section id="manager">
            <section id="manager-container" ng-class="{ preview: FileManager.previewActivated }">
                <section class="manager-bloc">
                    <section id="toolbar">
                        <section id="breadcrumb" class="pull-left google-font big-font" ng-controller="BreadcrumbController">
                            <span class="path-part" ng-repeat="(index, part) in Breadcrumb.path track by $index">
                                <span ng-if="index != Breadcrumb.path.length - 1" ng-click="Breadcrumb.load(index)">{{part}}</span>
                                <span ng-if="index == Breadcrumb.path.length - 1" class="active">{{part}}</span>
                            </span>
                        </section>
                        <section class="tb-container pull-right">
                            <article class="tb-option" ng-click="FileManager.refresh()">
                                <article class="tb-option-container">
                                    <article class="tb-icon"><i class="icon-refresh"></i></article>
                                </article>
                            </article>
                            <article class="tb-option">
                                <input type="file" class="input-file" />
                                <article class="tb-option-container" button-uploader ng-click="_buttonUploader.selectFile()">
                                    <article class="tb-icon"><i class="icon-cloud-upload"></i></article>
                                </article>
                            </article>
                            <article class="tb-option">
                                <article class="tb-option-container">
                                    <article class="tb-icon"><i class="icon-cloud-download"></i></article>
                                </article>
                            </article>
                            <article class="tb-option">
                                <article class="tb-option-container" ng-click="FileManager.createFolder();">
                                    <article class="tb-icon"><i class="icon-folder"></i></article>
                                </article>
                            </article>
                            <article class="tb-option">
                                <article class="tb-option-container" ng-click="FileManager.delete();">
                                    <article class="tb-icon"><i class="icon-times"></i></article>
                                </article>
                            </article>
                        </section>
                    </section>
                    <article class="manager-bloc-container">
                        <section id="list-file-container">
                            <article class="list-file">
                                <table class="listing">
                                    <thead>
                                        <tr class="list-header big-font google-font">
                                            <th class="item-label"></th>
                                            <th>Name</th>
                                            <th class="information">Type</th>
                                            <th class="information">Owner</th>
                                            <th class="information hidden-xs">size</th>
                                            <th class="information hidden-xs">Last Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="item item-file-manager big-font google-font" ng-class="{selected: _item.selected}" item item-id={{index}} ng-dblclick="_item.open();" ng-click="_item.select($event);" file-uploader file-path={{item.path}} file-id=_{{index}}_ ng-repeat="(index, item) in FileManager.items" draggable="true" dropzone="move">
                                            <td class="item-label" ng-class="_item.item.category"></td>
                                            <td ng-class="{bold: _item.item.category == 'folder'}" class="limit-text">{{_item.item.name}}</td>
                                            <td class="information">{{_item.item.category}}</td>
                                            <td class="information">Ju13nt</td>
                                            <td class="information hidden-xs">200mo</td>
                                            <td class="information hidden-xs">14/03/12 6h30</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                        </section>
                    </article>
                </section>
                <section class="manager-bloc" ng-controller="PreviewController">
                    <article class="manager-bloc-container google-font preview-container" ng-if="FileManager.selectedItems.length == 1">
                        <section class="preview-infos">
                            <article class="share-icon"><i ng-class="{'icon-link': FileManager.selectedItems[0].category != 'folder', 'icon-group': FileManager.selectedItems[0].category == 'folder'}"></i></article>
                            <article class="file-size">250 Mo</article>
                            <article class="preview-name">{{FileManager.selectedItems[0].name}} <i class="icon-pencil"></i></article>
                        </section>
                        <section class="preview-content">
                            <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='image'">
                                <img ng-src="{{Preview.getRessourceUrl()}}"/>
                            </article>
                            <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='video'">
                                <video ng-src="{{Preview.getRessourceUrl()}}" controls/>
                            </article>
                            <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='audio'">
                                <audio ng-src="{{Preview.getRessourceUrl()}}" controls/>
                            </article>
                            <article class="preview-element code" ng-if="FileManager.selectedItems[0].category =='text'">
                                <pre><code ng-include="Preview.getRessourceUrl()" highlight></code></pre>
                            </article>
                            <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='pdf'">
                                <iframe ng-src="{{Preview.getRessourceUrl()}}"></iframe>
                            </article>
                        </section>
                        <section class="preview-share">
                            <button class="share-button">Partager</button>
                        </section>
                    </article>
                </section>
            </section>
        </section>
    </section>
</section>
