<% layout('./layout/core') %>

<section id="bloc-container">
	<article class="bloc" id="home">
		<h1 class="title google-font">Welcome to your Little Cubbyhole!</h1>
		<p>Don't get weighed down by USB sticks and external hard drives! </p>
		<button class="button blue register google-font" class="button"><a href="/exe/CubbyHole.exe">DOWNLOAD CLIENT</a></button><button class="button green register google-font" ng-click="CubbyHome.showRegisterModal()">SUBSCRIBE NOW!</button>
	</article>
	<article class="bloc" id="discover">
		<h2 class="title google-font">DISCOVER CUBBYHOLE</h2>
		<img src="/images/design/logo_accueil.png" id="schematic"></img>
		<article class="discover">
			<p>
				Back up all your photos, videos, music, documents ... cubbyhole accepts all types of files, and there's no size limit. Your storage space is scalable - you can increase the capacity in just a few clicks. Create folders, delete files, move them, or even publish them online. Your online storage platform created and managed by you
			</p>
			<p>
				Sharing files and folders on cubbyhole is child's play. Simply create a share link and send it to your friends and family who will access it using a web browser.
			</p>
			<p>
				You get a "cubbyhole" folder with synchronised content on all your computers. Anything you drag and drop into this folder is automatically stored on cubbyhole, and thus becomes available on your tablet, smartphone and via the web application. If you modify a file on your computer, it will be updated on your other devices too.
			</p>
		</article>
	</article>
	<article class="bloc" id="plan">

		<h2 class="title google-font">CUBBY-OFFERS</h2>

		<section class="plan-container">
			<a ng-href="{{CubbyHome.planUrl}}{{plan.id}}" data-path-hover="M 0,0 0,38 90,58 180.5,38 180,0 z" shape-over ng-repeat="plan in CubbyHome.plans" ng-cloak>
				<figure>
					<svg class="form-file-preview" ng-style="plan.photoUrl" viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z "/></svg>
					<figcaption>
						<h2>{{plan.name}}</h2>
						<p>
							<span ng-if="plan.price != 0">${{plan.price}}</span>
							<span ng-if="plan.price == 0">Free</span>
						</p>
						<button>GET IT</button>
					</figcaption>
				</figure>
			</a>
		</section>

	</article>
	<article class="bloc" id="contact">
		<h2 class="title google-font">OUR TEAM</h2>
		<section class="team-container" ng-repeat="adminPhotos in CubbyHome.adminPhotos">
			<article class="border-circle-blue">
				<article class="img-circle image-target form-file-preview" ng-style="adminPhotos" ng-class="{'form-file-preview': Authentication.user.photo &amp;&amp; Authentication.user.photo != 'null'}">
					<i class="icon-profile-male form-file-hide"></i>
				</article>
			</article>
		</section>

		<section id="copyright">© CubbyHole 2014</section>
	</article>
</section>

<%- include partials/ejs/component/modalRegister.ejs %>
<%- include partials/ejs/component/modalLogin.ejs %>
<%- include partials/ejs/component/modalConfirmation.ejs %>
