<% layout('./layout/core') %>

<!-- test de design pour le file manager -->

<section id="container">
	<section id="toolbar">
		<section class="tb-container">
			<article class="tb-option">
				<article class="tb-option-container">
					<article class="tb-icon"><i class="icon-box-add"></i></article>
					<article class="tb-option-title"><span class="tb-title">DOWNLOAD</span></article>
				</article>
			</article>
			<article class="tb-option">
				<article class="tb-option-container">
					<article class="tb-icon"><i class="icon-box-remove"></i></article>
					<article class="tb-option-title"><span class="tb-title">UPLOAD</span></article>
				</article>
			</article>
            <article class="tb-option">
                <article class="tb-option-container">
                    <article class="tb-icon"><i class="icon-loop"></i></article>
                    <article class="tb-option-title"><span class="tb-title">REFRESH</span></article>
                </article>
            </article>
		</section>
	</section>
    <section id="manager">
        <section id="manager-container">
            <section class="manager-bloc">
                <article class="manager-bloc-container">
                    <section id="list-file-container">
                        <article class="list-file">
                            <table class="listing">
                                <thead>
                                    <tr class="list-header">
                                        <th class="item-label"></th>
                                        <th class="checkbox"><input type="checkbox"></th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Owner</th>
                                        <th>Last Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="item">
                                        <td class="item-label red"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label blue"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label violet"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label blue"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label green"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label green"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label red"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label blue"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label violet"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label blue"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label red"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label blue"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label violet"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                    <tr class="item">
                                        <td class="item-label blue"></td>
                                        <td class="checkbox"><input type="checkbox"></td>
                                        <td>blowjob.mov</td>
                                        <td>video</td>
                                        <td>Ju13nt</td>
                                        <td>14/03/12 6h:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                    </section>
                </article>
            </section>
            <section class="manager-bloc">
                <article class="manager-bloc-container">
                    preview et contenu super cool - affichage de l'icon du type de fichier, listing des uploads en cours ... bref y a pleins de chose a mettre ici :D
                </article>
            </section>
        </section>
    </section>
</section>


<!-- <section id="bloc-container">
	<article class="bloc" id="home">home</article>
	<article class="bloc" id="discover">discover</article>
	<article class="bloc" id="plan">plan</article>
	<article class="bloc" id="contact">contact</article>
</section>  -->
