<% layout('./layout/core') %>

<section id="container" class="preview-sharing" ng-controller="FileManagerController" ng-cloak>
    <section class="preview-sharing-infos google-font">
        <article class="preview-sharing-name">{{Sharing.file.name}}</article>
        <article class="preview-sharing-size">{{Sharing.file.size | ItemSizeFilter}}</article>
    </section>

    <section class="manager-bloc preview-bloc" ng-if="Sharing.showPreview" ng-controller="PreviewController">
        <%- include partials/ejs/component/preview.ejs %>
    </section>

    <section class="preview-sharing-download google-font" ng-show="Sharing.file.name !== undefined">
        <article><button class="share-button preview-button" ng-click="Sharing.preview()"><i class="icon-search"></i>Preview</button></article>
        <article><button class="share-button" ng-click="Sharing.download()"><i class="icon-cloud-download"></i>Download</button></article>
    </section>
</section>
