.buttons-modal {
    width: 213px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-modal .button.left {
    margin-right: -5px;
}

.modal-image {
    max-height: 90%;
    max-width: 100%;
}

.modal-video {
    position: relative;
    padding-bottom: 43.12%;
    height: 0;
}

#video {
    width: 76.7% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#audio {
    width: 60%;
}

.vjs-default-skin { color: #929292; }
.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level { background-color: #004164 }
.vjs-default-skin .vjs-control-bar,
.vjs-default-skin .vjs-big-play-button { background: rgba(46,46,46,0.7) }
.vjs-default-skin .vjs-slider { background: rgba(46,46,46,0.2333333333333333) }
.vjs-default-skin .vjs-control-bar { font-size: 87% }

.modal-pdf .label {
    color: black;
    font-weight: bold;
}

.modal-pdf canvas {
    max-height: 70%;
    max-width: 100%;
}