.button {
    font-size: 1.35em;;
    text-align: center;
    padding: 11px;
    width: 170px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}
.menu-go-back .button, .menu-refresh .button {
    padding-left: 20px;
}
.button.submit {
    margin-bottom: 15px;
    background-color: #1abc9c;
    color: white;
}
.button.action {
    font-size: 1em;
    width: auto;
    margin: 0;
    margin-right: -1px;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    color: white;
}
.button.action:hover {
    background-color: white;
    color: #1abc9c;
}
.button.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #409B7E;
}
.button.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #409B7E;
}