header {
	position: relative;
	/*top: 0;*/
	/*right: 0;*/
	/*left: 0;*/
	background: #fff;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	height: 46px;
	z-index: 15;
	background-image: url(/images/design/header-background.png);
}

header.preventClick {
	pointer-events: none;
}

section#global-nav section.redirect-zone.pull-left {
	margin-left: 22px;
	border-left: 1px solid rgba(0,0,0,0.15);
	border-right: 1px solid rgba(0,0,0,0.15);
	overflow: hidden;
}

section#global-nav {
	position: relative;
	/*max-width: 1190px;*/
	text-align: center;
	width: auto;
	margin: auto;
}

section#global-nav nav.navigation {
	margin-right: 12px;
	text-align: left;
}

section#global-nav article.option {
	color: rgb(102, 117, 127);
}

section#global-nav article.option.nav {
	height: 46px;
	overflow: hidden;
	color: rgba(218, 218, 218, 1);
	border-bottom: 4px solid transparent;
	padding-left: 10px;
	line-height: 46px;
	padding-right: 10px;
}

section#global-nav .menu.pull-right .option {
	height: 46px;
	margin-right: 10px;
	line-height: 46px;
}

section#global-nav article.option {
	float: left;
	position: relative;
	cursor: pointer;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}

section#global-nav article.option.selected {
	border-bottom-color: #bdc3c7;
	color: #bdc3c7;
}

section#global-nav article.option:hover {
	border-bottom-color: #bdc3c7;
	color: #bdc3c7;
}

section#global-nav span.label {
	margin-left: 7px;
}

section#global-nav i.icon {
    font-size: 15px;
    position: relative;
    top: 3px;
}

section#global-nav i.icon.icon-gift {
    font-size: 16px;
}

section#global-nav i.icon.icon-address-book {
    font-size: 14px;
}

section#global-nav .menu article.option.authentication {
	position: relative;
	line-height: 46px;
	margin-left: 10px;
	border-left: 1px solid rgba(0,0,0,0.15);
	border-right: 1px solid rgba(0,0,0,0.15);
	overflow: visible;
	background-color: black;
	color: rgba(242, 242, 242, 1);
}

section#global-nav .menu article.option.authentication .button-profile {
	padding-right: 10px;
	padding-left: 10px;
}

section#global-nav .menu.pull-right article.option {
	margin-right: 0;
}

section#global-nav .img-circle {
	width: 25px;
	height: auto;
}

section#global-nav  #logo-container {
	cursor: pointer;
}

section#global-nav  #logo-container article#logo {
    display: block;
    margin: 7px 10px 5px 10px;
    float: left;
}

section#global-nav  #logo-container article#logo-title {
    float: left;
    color: rgba(242, 242, 242, 1);
    line-height: 47px;
    font-size: 20px;
    text-transform: uppercase;
}