
section#user-card {
    margin-top: 60px;
    display: none;
    position: absolute;
    right: 9px;
    width: 200px;
    background: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.15);
    /* border-radius: 5px; */
    color: #000;
    text-align: center;
    pointer-events: auto;
    z-index: 10;
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode:  both;
    -moz-animation-fill-mode:  both;
    -o-animation-fill-mode:  both;
    animation-fill-mode:  both;
}
section#user-card.open {
    display: block;
}

#user-card section#user-profile {
    width: 100%;
}

section#global-nav #user-profile article.border-circle-blue {
    width: 148px;
    height: 148px;
    margin-left: 25px;
    margin-top: 20px;
    border: 3px solid #9ad6f2;
    position: relative;
    border-radius: 50%;
}

#user-card article.card-arrow {
    width: 26px;
    height: 16px;
    position: absolute;
    top: -16px;
    left: 40px;
    background-image: url(/images/design/arrow.png);
}

#user-card article.user-info.google-font {
    max-width: 198px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 75px;
}

section#global-nav #user-profile .img-circle {
    width: 142px;
    height: 142px;
    margin: 0px;
    border: 5px solid white;
}

section#global-nav #user-profile .img-circle img {
    height: 142px;
    width: auto;
}

section#global-nav #user-profile .img-circle img {
    height: auto;
    width: 142px;
}

#user-card article.user-firstname {
    height: 40px;
    line-height: 40px;
    font-size: 19px;
    text-align: center;
    display: inline-block;
}
#user-card article.user-lastname {
    text-align: center;
    font-size: 19px;
    display: inline-block;
}

#user-card section#user-disconnect {
    text-decoration: none;
    color: #fff;
    background-color: #A2D5ED;
    height: 36px;
    line-height: 36px;
    -webkit-transition: .1s all linear;
    -moz-transition: .1s all linear;
    -ms-transition: .1s all linear;
    -o-transition: .1s all linear;
    transition: .1s all linear;
    cursor: pointer;
    margin-bottom: 10px;
    width: 210px;
    margin-left: -5px;
    font-size: 20px;
}
#user-card hr.tiny {
    margin-bottom: 2px;
    margin-top: 4px;
}
#user-card article.user-nav-options {
    display: block;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: .1s all linear;
    -moz-transition: .1s all linear;
    -ms-transition: .1s all linear;
    -o-transition: .1s all linear;
    transition: .1s all linear;
}
#user-card section#user-disconnect:hover {
    background-color: #84C9EA;;
}

#user-card section#user-navigation {
    height: 60px;
}

#user-card #user-navigation .user-nav-options:hover {
    background-color: #84C9EA;
    color: white!important;
}

#user-card span.user-icon {
    position: relative;
    /* top: 1px; */
    /* margin-right: 10px; */
}

#user-card #user-navigation .user-nav-options {
    width: 50px;
    height: 50px;  padding: 0;  text-align: center;  vertical-align: middle;
    font-size: 24px;  border-radius: 50%;
    color: white;
    background-color: #A2D5ED;
    padding-top: 11px;
    display: block;
    margin-left: 12px;
    float: left;
}