section.chart-container(ng-repeat="chart in Informations.charts track by $index")
	donutchart(size-available="{{chart.availableSize}}", size-text="{{chart.textSize}}", data="{{chart.data}}", title="{{chart.title}}", subtitle="{{chart.subtitle}}")