<section class="configuration-container">
    <article class="edit-account">EDIT MY ACCOUNT</article>
    <section class="edit-account-container form">
        <article class="user-picture">
            <article class="border-circle-blue" form-file-upload=".image-target" form-file-model="Register.user.photo" form-file-name="photo" form-file-active-upload>
                <article class="camera-icon"><i class="icon-camera"></i></article>
                <article class="img-circle image-target" ng-style="Configuration.stylePhoto" ng-class="{'form-file-preview': Configuration.user.photo && Configuration.user.photo != 'null'}">
                    <i class="icon-profile-male form-file-hide"></i>
                </article>
            </article>
        </article>
        <article class="edit-account-form">
            <form name="form" ng-submit="Configuration.save(form.$valid)" novalidate>
                <fieldset>
                    <section>
                        <article class="row">
                            <label for="input-email-register" class="label col col-4">E-mail</label>
                            <article class="col col-8">
                                <label class="input state-disabled">
                                    <input id="input-email-register" type="email" name="email" class="form-control" ng-model="Configuration.user.email" disabled />
                                    <i class="icon-append icon-envelope"></i>
                                </label>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="row">
                            <label for="input-firstname-register" class="label col col-4">First name</label>
                            <article class="col col-8">
                                <label class="input">
                                    <input id="input-firstname-register" type="text" name="firstname" class="form-control" ng-model="Configuration.user.firstname" autofocus required />
                                    <i class="icon-append icon-user"ng-class="{'state-error': ((form.firstname.$dirty || Configuration.isFormSubmited) && form.firstname.$invalid)}"></i>
                                </label>
                                <section ng-show="(form.firstname.$dirty || Configuration.isFormSubmited) && form.firstname.$invalid" class="error-form">
                                    <article class="note note-error" ng-show="form.firstname.$error.required">Fill your first name.</article>
                                </section>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="row">
                            <label for="input-lastname-register" class="label col col-4">Last name</label>
                            <article class="col col-8">
                                <label class="input">
                                    <input id="input-lastname-register" type="text" name="lastname" class="form-control" ng-model="Configuration.user.lastname" required />
                                    <i class="icon-append icon-user" ng-class="{'state-error': ((form.lastname.$dirty || Configuration.isFormSubmited) && form.lastname.$invalid)}"></i>
                                </label>
                                <section ng-show="(form.lastname.$dirty || Configuration.isFormSubmited) && form.lastname.$invalid" class="error-form">
                                    <article class="note note-error" ng-show="form.lastname.$error.required">Fill your last name.</article>
                                </section>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="row">
                            <label for="input-birthdate-register" class="label col col-4">Birthdate</label>
                            <article class="col col-8">
                                <label class="input">
                                    <input id="input-birthdate-register" type="text" name="birthdate" class="form-control" ng-model="Configuration.user.birthdate" date-picker required />
                                    <i class="icon-append icon-calendar" ng-class="{'state-error': ((form.birthdate.$dirty || Configuration.isFormSubmited) && form.birthdate.$invalid)}"></i>
                                </label>
                                <section ng-show="(form.birthdate.$dirty || Configuration.isFormSubmited) && form.birthdate.$invalid" class="error-form">
                                    <article class="note note-error" ng-show="form.birthdate.$error.required">Fill your birthdate.</article>
                                </section>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="row">
                            <label for="input-country-register" class="label col col-4">Country</label>
                            <article class="col col-8">
                                <label class="input" ng-class="{'state-error': ((form.country.$dirty || Configuration.isFormSubmited) && form.country.$invalid)}">
                                    <select id="input-country-register" ui-select2 name="country" ng-model="Configuration.user.country" required>
                                        <option ng-repeat="country in Configuration.countries" value="{{country.name}}">{{country.name}}</option>
                                    </select>
                                </label>
                                <section ng-show="(form.country.$dirty || Configuration.isFormSubmited) && form.country.$invalid" class="error-form">
                                    <article class="note note-error" ng-show="form.country.$error.required">Fill your country.</article>
                                </section>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="row">
                            <label for="input-password-register" class="label col col-4">Password</label>
                            <article class="col col-8">
                                <label class="input">
                                    <input id="input-password-register" type="password" name="password" class="form-control" ng-model="Configuration.user.password" required />
                                    <i class="icon-append icon-lock" ng-class="{'state-error': ((form.password.$dirty || Configuration.isFormSubmited) && form.password.$invalid)}"></i>
                                </label>
                                <section ng-show="(form.password.$dirty || Configuration.isFormSubmited) && form.password.$invalid" class="error-form">
                                    <article class="note note-error" ng-show="form.password.$error.required">Fill you password.</article>
                                </section>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="row">
                            <label for="input-confirm-register" class="label col col-4">New password</label>
                            <article class="col col-8">
                                <label class="input">
                                    <input id="input-confirm-register" type="password" name="newPassword" class="form-control" ng-model="Configuration.user.newPassword" ng-minlength="8" />
                                    <i class="icon-append icon-lock" ng-class="{'state-error': (((form.newPassword.$dirty || Configuration.isFormSubmited) && form.newPassword.$invalid) || Configuration.isFormSubmited && Configuration.errorPasswordMatch)}"></i>
                                    <b class="tooltip tooltip-top-right">Minimum 8 characters.</b>
                                </label>
                                <section ng-show="(form.newPassword.$dirty || Configuration.isFormSubmited) && form.newPassword.$invalid" class="error-form">
                                    <article class="note note-error" ng-show="form.newPassword.$error.required">Confirm your password.</article>
                                    <article class="note note-error" ng-show="form.newPassword.$error.minlength">Your password must contain at least 8 characters.</article>
                                </section>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="row">
                            <label for="input-confirm-register" class="label col col-4">Password confirmation</label>
                            <article class="col col-8">
                                <label class="input">
                                    <input id="input-confirm-register" type="password" name="newPassword2" class="form-control" ng-model="Configuration.user.newPassword2" />
                                    <i class="icon-append icon-lock" ng-class="{'state-error': (((form.newPassword2.$dirty || Configuration.isFormSubmited) && form.newPassword2.$invalid) || Configuration.isFormSubmited && Configuration.errorNewPasswordMatch)}"></i>
                                </label>
                                <section ng-show="(form.newPassword2.$dirty || Configuration.isFormSubmited) && form.newPassword2.$invalid" class="error-form">
                                    <article class="note note-error" ng-show="form.newPassword2.$error.required">Confirm your password.</article>
                                </section>
                                <section ng-show="Configuration.isFormSubmited && Configuration.errorNewPasswordMatch" class="error-form">
                                    <article class="note note-error">Your two passwords must be identical.</article>
                                </section>
                            </article>
                        </article>
                    </section>

                    <section>
                        <article class="note note-error message" ng-show="Configuration.errorUpdate">Update failed, wrong credentials.</article>
                    </section>

                    <section>
                        <article class="note note-success message" ng-show="Configuration.updateSuccess">Update success</article>
                    </section>

                </fieldset>
                <section class="buttons">
                    <button class="button green register google-font" type="submit"><i class="icon-user"></i>UPDATE</button>
                </section>
            </form>
        </article>
    </section>
</section>