<header ng-class="{ preventClick: Overlay.activated }">
	<section id="global-nav" ng-controller="NavigationController" du-scroll-container="bloc-container">
		<section id="logo-container" class="pull-left" ng-click="Navigation.goto('/home')">
			<article id="logo"><img src="/images/design/logo.png" alt="logo"></article>
			<article id="logo-title" class="google-font hidden-xs">Cubbyhole</article>
		</section>
		<section class="menu pull-right" ng-controller="AuthenticationController" ng-cloak>
			<article class="option nav" ng-if="!Authentication.user.firstname && !Navigation.isOnShared()" ng-click="CubbyHome.showLoginModal()">
				<span class="label">LOG IN</span>
			</article>
			<article class="option authentication" ng-if="Authentication.user.firstname">
				<section class="button-profile" ng-click="Authentication.open();">
					<article class="img-circle">
						<img ng-if="Authentication.user.photo && Authentication.user.photo.indexOf('http') > -1" ng-src="{{Authentication.user.photo}}" alt="profile image">
						<i ng-if="!Authentication.user.photo || Authentication.user.photo.indexOf('http') == -1" class="icon-profile-male"></i>
					</article>
					<article class="label hidden-xs">{{Authentication.user.firstname}}</article>
				</section>

				<section id="user-card" class="bounceIn animated" ng-class="{ open: Authentication.opened }">
					<article class="card-arrow"></article>
					<section id="user-profile">
						<article class="user-picture">
							<article class="border-circle-blue">
								<article class="img-circle">
									<img ng-if="Authentication.user.photo && Authentication.user.photo.indexOf('http') > -1" ng-src="{{Authentication.user.photo}}" alt="profile picture">
									<i ng-if="!Authentication.user.photo || Authentication.user.photo.indexOf('http') == -1" class="icon-profile-male"></i>
								</article>
							</article>
						</article>
						<article class="user-info">
							<article class="user-firstname google-font">{{Authentication.user.firstname}}</article>
							<article class="user-lastname google-font">{{Authentication.user.lastname}}</article>
						</article>
					</section>
					<section id="user-navigation">
						<article class="user-nav-options" ng-click="Navigation.goto('/account#config')"><span class="user-icon icon-user"></span></article>
						<article class="user-nav-options"  ng-click="Navigation.goto('/account#infos')"><span class="user-icon icon-bars"></span></article>
						<article class="user-nav-options"  ng-click="Navigation.goto('/account#plans')"><span class="user-icon icon-credit-card"></span></article>
					</section>
					<section id="user-disconnect" class="big-font google-font" ng-click="Authentication.logout()">
						<span>Log out</span>
					</section>
				</section>
			</article>
		</section>

		<section class="navigation pull-right" ng-controller="AnnyangController" ng-cloak>
			<article class="option nav" ng-click="Annyang.startStop()" ng-if="Annyang.activated">
				<i class="icon-microphone"></i>
			</article>
		</section>


		<nav class="navigation pull-left hidden-xs hidden-sm">
			<article class="option nav google-font big-font" ng-class="{ selected: Navigation.isSelected('/home', '') }" ng-click="Navigation.goto('/home', '#bloc-container')">
				<!-- <i class="icon icon-home"></i> -->
				<span class="label">HOME</span>
			</article>
			<article class="option nav google-font big-font" ng-class="{ selected: Navigation.isSelected('/home', '/discover') }" ng-click="Navigation.goto('/home#discover', '#bloc-container')">
				<!-- <i class="icon icon-newspaper"></i> -->
				<span class="label">DISCOVER</span>
			</article>
			<article class="option nav google-font big-font" ng-class="{ selected: Navigation.isSelected('/home', '/plan') }" ng-click="Navigation.goto('/home#plan', '#bloc-container')">
				<!-- <i class="icon icon-gift"></i> -->
				<span class="label">PLANS</span>
			</article>
			<article class="option nav google-font big-font" ng-class="{ selected: Navigation.isSelected('/home', '/contact') }" ng-click="Navigation.goto('/home#contact', '#bloc-container')">
				<!-- <i class="icon icon-address-book"></i> -->
				<span class="label">TEAM</span>
			</article>
		</nav>

		<section class="redirect-zone pull-left">
			<article class="option nav" ng-class="{ selected: Navigation.isSelected('/manager', '') }" ng-click="Navigation.goto('/manager')">
				<!-- <i class="icon icon-dropbox"></i> -->
				<span class="label">FILE MANAGER</span>
			</article>
		</section>
	</section>
</header>