<section class="md-modal md-effect-1 google-font" id="modal-confirmation" ng-class="{'md-show': CubbyHome.showModalConfirmation === true}" ng-cloak modal>
    <section class="md-content">
        <article>
            <section>
                <i class="close-icon icon-cross" ng-click="_modal.close()"></i>
                <section class="confirmation-container">
                    <section class="confirmation">
                        Your account has been validated
                    </section>
                    <section class="buttons">
                        <button class="button green register google-font" ng-click="CubbyHome.showLoginModal()">LOGIN</button>
                    </section>
                </section>
            </section>
        </article>
    </section>
</section>