<section class="md-modal md-effect-1" id="modal-sharing-folder" ng-controller="SharingController" ng-class="{'md-show': FileManager.folderSharing === true}" modal>
    <section class="md-content">
        <article>
            <section>
                <section class="users-container" scroll-bar>
                    <section class="users-share">
                        <article class="user-share" ng-repeat="user in Sharing.users">
                            <article class="user-icon">
                                <article class="img-circle" style="background-image: url({{user.photo}})" ng-class="{'form-file-preview': user.photo}">
                                    <i class="icon-profile-male form-file-hide"></i>
                                </article>
                            </article>
                            <article class="user-email">
                                {{user.email}}
                            </article>
                            <article class="user-right">
                                <select name="select" ng-model="user.right">
                                    <option value="R">Read-only</option>
                                    <option value="W">Read & Write</option>
                                </select>
                            </article>
                            <article class="user-remove">
                                <i class="icon-cross" ng-click="Sharing.remove(user)"></i>
                            </article>
                        </article>
                    </section>
                </section>
                <section class="input-share">
                    <input type="email" name="email" placeholder="E-mail" ng-model="Sharing.email" ng-keyup="Sharing.addUser($event)"></input>
                </section>
            </section>
            <section class="buttons">
                <button class="button left red share google-font" ng-click="Sharing.share(); _modal.close()"><img src="/images/design/share.png"></img>SHARE</button>
                <button class="button right blue close google-font" ng-click="_modal.close()"><img src="/images/design/icons/cancel.png"></img>CANCEL</button>
            </section>
        </article>
    </section>
</section>