<section class="preview-content">
    <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='image'">
        <img ng-src="{{Preview.getRessourceUrl()}}"/>
    </article>
    <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='video'">
        <video ng-src="{{Preview.getRessourceUrl()}}" controls/>
    </article>
    <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='audio'">
        <audio ng-src="{{Preview.getRessourceUrl()}}" controls/>
    </article>
    <article class="preview-element code" ng-if="FileManager.selectedItems[0].category =='text'">
        <pre scroll-bar><code ng-include="Preview.getRessourceUrl()" highlight></code></pre>
    </article>
    <article class="preview-element" ng-if="FileManager.selectedItems[0].category =='pdf'">
        <iframe ng-src="{{Preview.getRessourceUrl()}}"></iframe>
    </article>
</section>