
<section id="container" ng-controller="LoginController">
    <form name="form" ng-submit="Login.authenticate(form.$valid)" class="register-form" novalidate>

        <article class="input-group">
            <article class="input-form">E-mail: <input type="email" name="email" class="form-control" ng-model="Login.user.email" autofocus required /></article>
            <section ng-show="(form.email.$dirty || Login.isFormSubmited) && form.email.$invalid" class="error-form">
                <article ng-show="form.email.$error.required">Renseignez votre email</article>
                <article ng-show="form.email.$error.email">Email invalide</article>
            </section>
        </article>

        <article class="input-group">
            <article class="input-form">Mot de passe: <input type="password" name="password" class="form-control" ng-model="Login.user.password" required /></article>
            <section ng-show="(form.password.$dirty || Login.isFormSubmited) && form.password.$invalid" class="error-form">
                <article ng-show="form.password.$error.required">Renseignez votre mot de passe</article>
            </section>
        </article>

        <article class="input-group"><button class="form-button" type="submit">Connexion</button></article>

        <article class="input-group"><button class="link-button" ng-click="Login.goRegister()">S'enregistrer</button></article>
    </form>
</section>