
<section id="container" class="form-container" ng-controller="LoginController">
    <form name="form" ng-submit="Login.authenticate(form.$valid)" class="form" novalidate>

        <header>Connexion</header>

        <fieldset>
            <section>
                <article class="row">
                    <label class="label col col-4">E-mail</label>
                    <article class="col col-8">
                        <label class="input" ng-class="{'state-error': ((form.email.$dirty || Login.isFormSubmited) && form.email.$invalid)}">
                            <i class="icon-append icon-envelope"></i>
                            <input type="email" name="email" class="form-control" ng-model="Login.user.email" autofocus required />
                        </label>
                        <section ng-show="(form.email.$dirty || Login.isFormSubmited) && form.email.$invalid" class="error-form">
                            <article class="note note-error" ng-show="form.email.$error.required">Renseignez votre email.</article>
                            <article class="note note-error" ng-show="form.email.$error.email">Email invalide.</article>
                        </section>
                    </article>
                </article>
            </section>

            <section>
                <article class="row">
                    <label class="label col col-4">Mot de passe</label>
                    <article class="col col-8">
                        <label class="input" ng-class="{'state-error': ((form.password.$dirty || Login.isFormSubmited) && form.password.$invalid)}">
                            <i class="icon-append icon-lock"></i>
                            <input type="password" name="password" class="form-control" ng-model="Login.user.password" required />
                        </label>
                        <section ng-show="(form.password.$dirty || Login.isFormSubmited) && form.password.$invalid" class="error-form">
                            <article class="note note-error" ng-show="form.password.$error.required">Renseignez votre mot de passe.</article>
                        </section>
                        <!-- <article class="note"><a href="#">Mot de passe oublié ?</a></article> -->
                    </article>
                </article>
            </section>

            <section>
                <article class="row">
                    <article class="col col-4"></article>
                    <article class="col col-8">
                        <label class="checkbox"><input type="checkbox" name="checkbox-inline" ng-model="Login.rememberMe" checked=""><i></i>Rester connecté</label>
                    </article>
                </article>
            </section>

            <section>
                <article class="note note-error message" ng-show="Login.errorLogin">Identifiants incorrects.</article>
            </section>
        </fieldset>
        <footer>
            <button class="button" type="submit">Connexion</button>
            <button class="button button-secondary" ng-click="Login.goRegister()">S'enregistrer</button>
        </footer>
    </form>
</section>
