<section class="file row">
      <article class="filename col-xs-8 col-sm-6 col-md-6 col-lg-8">
            <span class="icon-filemanager margin-icon" ng-class="_file.iconClass"></span>
            <a href="" class="filename-link" ng-click="_filemanager.openItem(_file.file)" id="{{_file.file.id}}">{{_file.file.name}}</a>
      </article>
      <article class="kind hidden-xs col-sm-3 col-md-3 col-lg-2">
            <span class="category">{{_file.file.category}}</span>
      </article>
      <article class="modified col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <span class="modified-time">{{_file.file.modified}}</span>
      </article>
</section>