<section data-waiter class="{{square}}" ng-show="active">
    <article data-waiter-container>
        <canvas class="animation" width={{size.width}} height={{size.height}}></canvas>
        <article class="{{square}}" data-glass>
            <span class="loadingValue" ng-hide="hideValue">
                <span class="value">{{value}}</span>
                <span class="percent">%</span>
            </span>
        </article>
    </article>
</section>