doctype html

- var module = '';
- var controller = '';
block vars

html(ng-app="#{module}")
	head
		block page_definition
			title title
			meta(name="description" content="description")

		meta(http-equiv="Content-Type", content="text/html; charset=UTF8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(http-equiv="Pragma", content="no-store")
		meta(http-equiv="Cache-Control", content="no-store")
		meta(http-equiv="Lang", content="en")
		meta(charset="UTF-8")
		meta(name="author" content="MyLittleCubbyhole")
		link(rel="icon", href="/images/design/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		//- if partials used
		meta(name="fragment" content="!")

		block styles
			//-<!-- build:css /styles/core.css -->
			link(rel="stylesheet", href="/styles/core.css")
			//-<!-- endbuild -->

		block fonts
			link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css")
			link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css")

	body(ng-controller="OverlayController")
		block body
			section#body(ng-controller="#{controller}")
				block content
					include ../partials/jade/header.jade

			section#overlay(ng-class="{ activated: Overlay.activated }" ng-click="Overlay.clickout();")

		block javascripts-common
			//-<!-- build:js /javascripts/common.js -->
			script(src="/javascripts/libraries/jquery/jquery.js")
			script(src="/javascripts/libraries/jquery/jquery-ui.js")
			script(src="/javascripts/libraries/angular/angular.js")
			script(src="/javascripts/libraries/angular/angular-route.js")
			script(src="/javascripts/libraries/lodash/lodash.js")
			script(src="/javascripts/libraries/socket.io/socket.io.js")
			script(src="/javascripts/libraries/restangular/restangular.js")
			script(src="/javascripts/libraries/select2/select2.min.js")
			script(src="/javascripts/libraries/ui-select2/ui-select2.js")
			script(src="/javascripts/libraries/highlight/highlight.pack.js")
			script(src="/javascripts/libraries/highcharts/highcharts.js")
			script(src="/javascripts/libraries/highcharts-ng/highcharts-ng.js")
			script(src="/javascripts/libraries/customScrollBar/customScrollBar.js")
			script(src="/javascripts/libraries/zeroClipboard/zeroClipboard.js")
			script(src="/javascripts/libraries/ng-clip/ng-clip.js")
			script(src="/javascripts/libraries/numeral/numeral.min.js")
			script(src="/javascripts/libraries/numeral/languages.min.js")
			script(src="/javascripts/libraries/scrollTo/scrollTo.js")
			script(src="/javascripts/libraries/shapeOver/snap.svg.js")
			script(src="/javascripts/libraries/annyang/annyang.js")
			script(src="/javascripts/libraries/grumpy-ui/core.js")
			script(src="/javascripts/libraries/grumpy-ui/constants/grumpyConfigConstants.js")
			script(src="/javascripts/libraries/grumpy-ui/directives/grumpyAccordionDirective.js")
			script(src="/javascripts/libraries/grumpy-ui/directives/grumpyUiDirective.js")
			script(src="/javascripts/libraries/grumpy-ui/directives/grumpyVirginDirective.js")
			script(src="/javascripts/libraries/grumpy-ui/services/grumpyPositionService.js")
			script(src="/javascripts/libraries/grumpy-ui/services/grumpyScrollingService.js")


			script(src="/javascripts/modules/_templates/core.js")
			script(src="/javascripts/modules/config/core.js")
			script(src="/javascripts/modules/config/constants/configConstants.js")
			script(src="/javascripts/modules/config/factories/countryFactory.js")
			script(src="/javascripts/modules/websocket/core.js")
			script(src="/javascripts/modules/websocket/factories/websocketFactory.js")
			script(src="/javascripts/modules/tools/core.js")
			script(src="/javascripts/modules/tools/factories/uploaderFactory.js")
			script(src="/javascripts/modules/tools/services/classService.js")
			script(src="/javascripts/modules/tools/services/formatSizeService.js")
			script(src="/javascripts/modules/tools/directives/rightClickDirective.js")
			script(src="/javascripts/modules/tools/directives/boxalertDirective.js")
			script(src="/javascripts/modules/tools/directives/focusDirective.js")
			script(src="/javascripts/modules/tools/directives/progressBarDirective.js")
			script(src="/javascripts/modules/tools/directives/progressBarPlanDirective.js")
			script(src="/javascripts/modules/tools/directives/scrollBarDirective.js")
			script(src="/javascripts/modules/tools/directives/modalDirective.js")
			script(src="/javascripts/modules/tools/directives/formFileUploadDirective.js")
			script(src="/javascripts/modules/tools/directives/shapeOverDirective.js")
			script(src="/javascripts/modules/tools/filters/numeraljsFilter.js")
			script(src="/javascripts/modules/tools/filters/orMultipleFilter.js")
			script(src="/javascripts/modules/tools/services/harlemService.js")
			script(src="/javascripts/modules/breadcrumb/core.js")
			script(src="/javascripts/modules/breadcrumb/controllers/breacrumbController.js")
			script(src="/javascripts/modules/authentication/core.js")
			script(src="/javascripts/modules/authentication/controllers/authenticationController.js")
			script(src="/javascripts/modules/authentication/controllers/loginController.js")
			script(src="/javascripts/modules/authentication/controllers/registerController.js")
			script(src="/javascripts/modules/authentication/factories/userFactory.js")
			script(src="/javascripts/modules/authentication/factories/authenticationFactory.js")
			script(src="/javascripts/modules/authentication/directives/datePickerDirective.js")
			script(src="/javascripts/modules/filemanager/core.js")
			script(src="/javascripts/modules/filemanager/providers/itemProvider.js")
			script(src="/javascripts/modules/filemanager/providers/folderProvider.js")
			script(src="/javascripts/modules/filemanager/providers/fileProvider.js")
			script(src="/javascripts/modules/filemanager/factories/fileExtensionFactory.js")
			script(src="/javascripts/modules/filemanager/factories/itemFactory.js")
			script(src="/javascripts/modules/filemanager/factories/sharingFactory.js")
			script(src="/javascripts/modules/filemanager/controllers/fileManagerController.js")
			script(src="/javascripts/modules/filemanager/controllers/previewController.js")
			script(src="/javascripts/modules/filemanager/controllers/sharingController.js")
			script(src="/javascripts/modules/filemanager/directives/uploaderDirective.js")
			script(src="/javascripts/modules/filemanager/directives/itemDirective.js")
			script(src="/javascripts/modules/filemanager/directives/buttonUploaderDirective.js")
			script(src="/javascripts/modules/filemanager/directives/highlightDirective.js")
			script(src="/javascripts/modules/filemanager/directives/formPostDownloaderDirective.js")
			script(src="/javascripts/modules/navigation/core.js")
			script(src="/javascripts/modules/navigation/controllers/navigationController.js")
			script(src="/javascripts/modules/overlay/core.js")
			script(src="/javascripts/modules/overlay/controllers/overlayController.js")
			script(src="/javascripts/modules/annyang/core.js")
			script(src="/javascripts/modules/annyang/configs/annyangConfig.js")
			script(src="/javascripts/modules/annyang/controllers/annyangController.js")
			script(src="/javascripts/modules/annyang/factories/configFactory.js")
			script(src="/javascripts/modules/annyang/services/annyangService.js")
			script(src="/javascripts/modules/annyang/services/formatService.js")
			//-<!-- endbuild -->

		block javascripts
			script(src='/expose/paypal/config' type="application/javascript")
			script(src='/expose/formRegister/config' type="application/javascript")