<section id="user-management-container">
	<section id="box-white">
		<section id="user-management-filter-box">
			<section id="user-management-filter-box" class="form">
				<section class="input-search col-xs-12 col-sm-8 ">
					<label class="input col-xs-11">
						<input type="text" placeholder="SEARCH" ng-model="search">
					</label>
				</section>
				<section class="filter-box col-xs-12 col-sm-4">
					<span ng-click="PlanAdministration.createPlan()">CREATE</span>
				</section>
			</section>	
		</section>		
	</section>
	<section id="user-management-listing" scroll-bar>
		<section id="user-management-listing-content">
			
			<section class="plan-container-account">

				<section class="plan-container-body">
					<section class="plan-container">
						<a ng-repeat="plan in PlanAdministration.plans | filter: search" class="animated" ng-show="!PlanAdministration.selectedPlan.id || (PlanAdministration.selectedPlan.id && plan.selected)" ng-class="{fadeIn: !PlanAdministration.selectedPlan.id, bounceOutRight: (PlanAdministration.selectedPlan.id && !plan.selected), bounceInLeft: (PlanAdministration.selectedPlan.id && plan.selected), 'plan-selected': (PlanAdministration.selectedPlan.id && plan.selected)}" ng-click="PlanAdministration.selectPlan(plan)">
							<section class="plan-header google-font big-font">
								<section class="plan-price">
									<span ng-if="plan.price != 0">${{plan.price}}</span>
									<span ng-if="plan.price == 0">FREE</span>
								</section>
								<section class="plan-border-left"></section>
								<section class="plan-border-right"></section>
							</section>
							<section class="plan-body google-font">
								<article class="plan-name">{{plan.name}}</article>
								<article class="plan-storage">{{plan.storage | ItemSizeFilter}} storage</article>
							</section>
						</a>
						<section class="plan-details animated" ng-show="PlanAdministration.selectedPlan.id" ng-class="{bounceInDown: PlanAdministration.selectedPlan.id}">
							<i class="close-icon icon-cross" ng-click="PlanAdministration.unselect()"></i>
							
							<!-- TODO -->

						</section>
					</section>
				</section>

			</section>
		</section>
	</section>
</section>