/* Common style */
.plan-container {
	margin: 40px auto 120px;
	width: 90%;
}

.plan-container a {
	/* float: left; */
	max-width: 300px;
	width: 300px;
	min-width: 200px;
	display: inline-block;
	color: #333;
	height: 400px;
	margin: 5px 5px;
}

.plan-container figure {
	position: relative;
	overflow: hidden;
	margin: auto;
	background: #333;
	height: 400px;
}

.plan-container figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.plan-container figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.plan-container figcaption h2 {
	margin: 0 0 0px 0;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 130%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.plan-container figcaption p {
	padding: 0;
	color: #555;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 300;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	text-shadow: 0px 0px 1px rgb(129, 129, 129);
	margin: 0;
}

.plan-container figcaption h2,
.plan-container figcaption p {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.plan-container figure button {
	position: absolute;
	padding: 4px 20px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.plan-container figcaption,
.plan-container figcaption h2,
.plan-container figcaption p,
.plan-container figure button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Style for SVG */
.plan-container svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	left: 0px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 100%;
}

.plan-container svg path {
	fill: #fff;
}

/* Hover effects */
.plan-container a:hover figure img {
	opacity: 1;
}

.plan-container a:hover figcaption h2,
.plan-container a:hover figcaption p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.plan-container a:hover figcaption p {
	opacity: 0;
}


.plan-container figure button {
	top: 50%;
	left: 50%;
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
	opacity: 0;
	font-size: 30px;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.plan-container a:hover figure button {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);
}
.plan-container figcaption h2,
.plan-container figcaption p {
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
	timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

.plan-container a:hover figcaption p {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

body {
	background: #52be7f;
}

.plan-container figcaption h2 {
	color: #78C0F0;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

.plan-container a:hover figcaption h2 {
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */

@media screen and (max-width: 58em) {
	.plan-container a {
		width: 33.333%;
	}

}

@media screen and (max-width: 45em) {
	.plan-container {
		max-width: 500px;
	}

	.plan-container a {
		width: 48%;
	}

	.plan-container figcaption h2 {
		margin-bottom: 0px;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	.plan-container figcaption p {
		margin: 0;
		padding: 0 10px;
	}

	.plan-container a {
		width: 240px;
		display: inline-block;
		color: #333;
		height: inherit;
	}
	.plan-container figure {
		position: relative;
		overflow: hidden;
		margin: auto;
		background: #333;
		height: 290px;
	}
	.plan-container figure button {
		font-size: 15px;
	}
	.plan-container figcaption {
		line-height: 20px;
	}
	.plan-container figcaption p {
		font-size: 24px;
	}

}

@media screen and (max-width: 27em) {

	.plan-container a {
		width: inherit;
	}

}