aside#vertical-toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 102px;
    background-color: #fff;
    height: 100%;
    border-left: 2px solid #e3e3e3;
}
aside#vertical-toolbar article.option-toolbar {
    height: 100px;
    width: 100px;
    position: relative;
    border-bottom: 2px solid #e3e3e3;
    background-color: #fff;
    color: #939393;
    cursor: pointer;
}
aside#vertical-toolbar article.icon-option-toolbar {
    width: 100%;
    left: 0px;
    height: 80px;
    position: absolute;
}
aside#vertical-toolbar .icon-option-toolbar span.icon-user {
    font-size: 60px;
    margin: 10px auto;
    text-align: center;
    display: block;
}
aside#vertical-toolbar .option-toolbar article.title-option {
    position: absolute;
    bottom: 5px;
    font-size: 15px;
    text-align: center;
    display: block;
    width: 100%;
    left: 0px;
}
aside#vertical-toolbar article.option-toolbar.container:hover, article.option-toolbar.container.active {
    color: #2c2c2c;
    background-color: #f5f5f5;
}